OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4o-mini
CLIENT_URL=http://127.0.0.1:5175
PAYMONGO_SECRET_KEY=sk_test_rcGpFQEimPr9FaHHnyaqsEXt
PAYMONGO_PUBLIC_KEY=pk_test_4nigTEoYN1MUtv9AUgTxAvgf
PAYMONGO_WEBHOOK_SECRET=optional_webhook_signature_secret
PORT=5001
EMAIL_USER=arsalampogimuch@gmail.com
EMAIL_PASS=mvxzdkfigexljbwn
GEMINI_API_KEY=AIzaSyCYfCVwhfoRElIluL41QcPZVUBPnn9G2AQ
OPENAI_API_KEY=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
OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4o-mini
