# Node modules
node_modules/
**/node_modules/

# Environment files
.env
backend/.env
frontend/.env

# Build folders
dist/
build/
frontend/dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/
